<h1><%= @topic.title %></h1>

<%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>

<%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
 <div class="row">
   <div class="col-md-12">
     <div class="media">
       <div class="media-heading"
        <h4>Bookmarks in this topic:</h4>
       </div>
       <div class="media-body">
         <div class="col-md-8 panel panel-info">
         <% @topic.bookmarks.each do |bookmark| %>
           <ul>
             <li>
               <%= bookmark.url %>
             </li>
           </ul>
         <% end %>
        </div>
       </div>
     </div>
   </div>
 </div>


<%= link_to "Add Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-success' %>
